*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.4;
  }

.text-primary{
    color:#93cb52;
}

a{
    text-decoration: none;
}

#navbar{
    display: flex;
    justify-content: space-between;
    padding:10px;
    align-items: center;
    background: #292929;
    color: #ffffff;
    position: fixed;
    width:100%;
    top : 0;
    z-index: 1;
}

#navbar ul{
    display: flex;
    list-style: none;
}

#navbar ul li{
    margin:10px;
}

#navbar ul li a:hover{
    background: #93cb52;
    color: #000;
}

#navbar ul li a{
    color:white;
    padding:15px 7px;
    font-weight: bold;
    border-radius: 4px;
}

#header{
    z-index: 0;
    background: #333 url(../image_resources/showcase.jpg) no-repeat center center/cover;
    color: white;
    height: 100vh;
    top: 0;
    width:100%;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 20px 20px;
    line-height: normal;
    background: rgba(0, 0, 0, 0.5);
}

.container h1{
    font-size: 4rem;
    margin: 0 10px;
    text-align: center;
}

.container p{
    margin:20px;
    font-size: 1.3rem;
    text-align: center;
}

.container a{
    color:white;
    margin: 10px;
    padding:10px 7px;
    font-weight: bold;
    border-radius: 4px;
    background : #93cb52;
}

.container a:hover{
    background : #78a744;
}

#what{
    margin:auto;
}

#what .container h1, #clients .container h1{
    font-size: 2rem;
    font-weight: bolder;
}

#what .container, #clients .container{
    background: rgba(0,0,0,0);
}

.what-items{
    display: flex;
    margin:50px 10px;
    justify-content: space-evenly;
}

.what-item{
    margin:10px;
    text-align: center;
    line-height: 1.5rem;
    width: 220px;
}

.what-item i{
    background: #93cb52;
    padding: 16px;
    border-radius: 30px;
    margin:0 0 20px 0;
}

.what-item h2{
    font-size: 1.3rem;
}

.what-item p{
    font-size: 1.1rem;
}

#who{
    background: rgb(39, 39, 39);
    min-height: 450px;
    display: flex;
}

#teamPhoto{
    width: 50%;
    background: url(../image_resources/people.jpg) no-repeat center center/cover;
}

#who-section{
    padding:20px;
    width:50%;
    color: white;
}

#who-section p{
    margin: 15px 0;
    font-size: 1rem;
}

#who-section ul{
    line-height: 2rem;
}

#who-section ul li{
    list-style: none;
    font-size: 1rem;
    line-height: 40px;
    border-bottom: solid 1px #333;
}

#client-icons{
    display: flex;
}

#client-icons div{
    flex:1;
}

.client-icon img{
    display: block;
    margin:auto;
    width: 60%;
}